* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    cursor: pointer;
}

canvas {
    display: none;
    padding-top: 38px;
    margin-left: 70px;
}

#intro {
    height: 100vh;
    background: lightgrey
    background-repeat: repeat;
    background-size: 100% 100%;
}

#intro img {
    display:block;
    margin: 0 auto;
    height: 100%;
}

#tutorial_1, #tutorial_2, #tutorial_3 {
    display:none;
    position: absolute;
    top: 80px;
}

#tutorial_1 img, #tutorial_2 img, #tutorial_3 img {
    display:block;
    margin: 0 auto;
    width: 50%
}

#example {
    display: none;
    padding-top: 38px;
    margin-left: 70px;
}

#example img {
    width: 100%;
}

#win {
    display:none;
}

#lose {
    display:none;
}
